<!DOCTYPE html>
<html lang="en">
<head>
	<!--NECESSARY META DATA -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!-- WEBSITE TITLE -->
 	<title>Appetit: Added a meal!</title>
 	<!--LINKING TO BOOTSTRAP-->
 	<link href="css/bootstrap.min.css" rel="stylesheet">
 	<!--LINKING TO CSS-->
 	<link href="css/homepage.css" rel="stylesheet">
 	<!--LINKING TO GOOGLE WEB FONTS -->
 	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 	<!--NOT QUITE SURE WHAT THIS IS YET-->
 	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<link href="../css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="../css/homepage.css" rel="stylesheet">
	<link href="../css/imginfo.css" rel="stylesheet" >
	<link href="../css/style.css" rel="stylesheet" >
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<!--for glyphicons-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 
</head>

<body>

<!--==================================================-->
<!--         SECTION A: TOP NAV / HEADER              -->
<!--==================================================-->
<header class="header black-bg"><br>
    <h9>Meal Added!</h9>
            <ul class="nav pull-right">
            <a href="../home" style="padding:0; margin:0;"><img class="sorters" src="../img/next.svg"/></a>
            </ul>
</header>
    

<!--Section A end-->
    
<br><br><br>

<!--==================================================-->
<!--Content-->
<!--==================================================-->
<!--meal image-->
<div class="meal-image">   
    <img class="tp" src="../img/{{image}}" alt="Generic placeholder thumbnail">
</div><br>

<!--container-->
<div class="container">
    
    
<!--time and date-->
<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div class="time" style="display: table-cell;">{{time}}</div>
        <div class="date" style="display: table-cell;">{{date}}</div>
    </div>
</div>

<!--smiley and location-->
    
<div style="width: 100%; display: table;">
    <div style="display:table-row">
        <div class="moods"  style="width: 40%"><img class="smiley" src="../img/{{mood}}"><img class="smiley" src="../img/{{type_img}}"></div>
        <div class="location"><i class="fa fa-map-marker" style="color: #888"></i> 
            {{location}}</div>
    </div>
</div><br>

<!--divider-->
<hr style="border: 1px thin solid #c6c6c6; margin: 20px;"></hr>  
  

<!--meal title-->
<div class="meal-title">{{name}}</div>
    

<!--meal description-->
<div class="caption">
     {{desc}}
</div>
    
</div><!--end container-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>

</body>

